asgiref==3.4.1
beautifulsoup4==4.10.0
certifi==2021.5.30
Django==3.2.7
django-bootstrap4==3.0.1
entrypoints==0.3
jupyter==1.0.0
mistune==0.8.4
Pillow==8.4.0
pytz==2021.3
pywin32==228
pywinpty==0.5.7
sip==4.19.13
soupsieve==2.2.1
sqlparse==0.4.2
terminado==0.9.4
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
